{% extends "base.html" %}
{% load static %}
{% load staticfiles %}
{% block content %}
	<br><br><br><br>
	<div class="container">
		<h1 style="text-align: center; text-decoration: underline;">Artikel</h1>
		<br>
		{% for i in art %}
		<div class="row">
			<div class="col-md-5">
				<img src ="{{i.image}}" alt="{{i.judul}}" border="0" style = "width: 400px; height:auto; max-width: 100%;display: block; margin-left: auto; margin-right: auto;">
			</div>
			<div class="col-md-7">
				<strong><h2>{{i.judul}}</h2></strong>
				<br>
				<p style="text-align: justify;">{{i.isi}}</p><br>
				<p style="font-style: italic;">{{i.sumber}}</p>
			</div>
		</div>
		<br>
		{% endfor %}
	</div>
{% endblock content %}
