{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="{% static 'img/ESM2.png' %}" />
    <title>{{web_title}} | SinarPerak</title>
    {% block style %}{% endblock style %} 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
	<header>
        <header>
        <div id="header" style="background-color:#8CD2EF">
            <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color:#8CD2EF">
                <img class="navbar-brand" src="{% static 'img/ESM2.png' %}" alt="hands connecting" style="width: 40px; height: 50px">
                <a class="navbar-brand" href="{% url 'home' %}"><h2>SinarPerak</h2></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'home' %}"><h3>Beranda</h3><span class="sr-only"></span></a>
                        </li>
                            {% if user.is_authenticated %}
                                <a class="nav-link" href="{% url 'get_user_total_donasi' %}"><h3>Profil</h3></a>
                                <a class="nav-link" href="{% url 'signup' %}"><h3>Halo, {{user.first_name}}!</h3></a>
                            {% else %}
                                <a class="nav-link" href="{% url 'signup' %}"><h3>Login</h3></a>
                            {% endif %}
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    {% block content %}
    {% endblock %}
</body>
</html>