{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}Terima Kasih {% endblock title %} | SINAR PERAK</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css_artikel.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
	{% block content %}
		<br><br><br><br>
		<div class="container-fluid">
			<div class="row">
			    <div class="col-md-3"></div>
			    <div class="col-md-6" style="padding-top: 15vw">
			    	<h1 style="text-align: center;">Terima kasih atas donasi anda!</h1>
			    	<h3 style="text-align: center;">Partisipasi anda sangat berarti bagi<br> 
			    	#sahabat yang membutuhkan</h3>
			    </div>
			    <div class="col-md-3"></div>
		    </div>
			
		</div>
	{% endblock content %}
</body>

</html>