{% extends "base.html" %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/assets.css' %}">
{% endblock style %}

{% block content %}
<style type="text/css">
    img {
        width: 80%;
    }

    h1 {
        font-size: 80px;
    }

    h2 {
        font-size: 40px;
    }

    .col border {
        width: 30%;
    }

    .card-columns {
        align-self: center;
        padding-top: 20px;
        margin-bottom: 50px;
    }

    .giving-hands{
        position:relative;
        width:100%;
        height:500px;
        padding:17.4rem 0;
        background-position:top;
    }
</style>
    <div class="giving-hands">
        <div class="container">
            <div class="col center-block text-center">
                <h1 class="text-center text-white" >Galang Dana untuk Hal yang Anda Perjuangkan!</h1>
                <h2 class="text-center text-white" >Sisihkan hartamu untuk #sahabat yang membutuhkan</h2>
            </div>
        </div>
    </div>
    
    <div class=" border d-flex flex-row justify-content-around" style="background:white">
        <h4 class="text-center">{{campaign_count}}<br>Campaign</h4>
        <h4 class="text-center">Rp {{donation_total}}<br>Donasi yang telah tersalurkan</h4>
        <h4 class="text-center">{{donator_count}}<br>Donatur</h4>
    </div>
    <br>
    <div class="d-flex justify-content-center">
        <a href="{% url 'news' %}" class="display-4">Artikel Terbaru</a>
        <br><br><br>
    </div>
    {% if article_count == 0 %}
        <p class="text-center">Maaf, tidak ada artikel untuk saat ini!</p>
    {% else %}
        {% for n in article %}
        <div class="container d-flex justify-content-center">
            <div class="d-flex align-items-end">
                <div class="col">
                    <img src={{n.get_image}} alt='{{n.get_judul}}'>
                </div>
                <div class="col">
                    <div class="row">
                        <h3>{{n.get_judul}}</h3>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <a role="button" class="btn btn-primary btn-block" href="/news" style="margin-bottom: 10px;">Baca</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    {% endif %}
    

    <div class="d-flex justify-content-center">
        <a href="{% url 'program' %}" class="display-4">Campaign</a>
    </div>
    {% if campaign_count == 0 %}
        <p class="text-center">Maaf, tidak ada campaign untuk saat ini!</p>
    {% else %}
        <div class="container d-flex justify-content-around">
        {% for k in campaign %}
            <div class="container">
                <div class="col border">
                    <img class="img-fluid" src={{k.image}} alt="{{k.program_title}}">
                    <div class="col">
                        <div class="row">
                            <p>{{k.campaign_title}}</p>
                        </div>
                        <br>
                        <div class="row">
                            <p>Donasi terkumpul: Rp {{k.campaign_progress}}</p>
                        </div>
                        <div class="row">
                            <a href="{% url 'donate'%}" class="btn btn-primary">Donasi Sekarang</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    {% endif %}
    <a href="{% url 'about' %}" class="btn btn-primary">About Us</a>
{% endblock content %}