/*test 123**/
img {
	width: 100%;
    height: auto;
}


.program-title {
	font-size: 40px;
}

.program-content {
	font-size: 25px;
	text-align: justify;
	padding-top: 15px;
	padding-bottom: 15px;
}

.total-donation {
	padding-top: 15px;
	padding-bottom: 20px;
}

.row {
	padding-top: 50px;
	padding-bottom: 50px;
}


@media screen and (max-width: 770px) {
	.program-title {
		font-size: 25px;
		padding-top: 20px;
	}

	.program-content {
		font-size: 20px;
		padding-top: 8px;
	}

	.total-donation {
		padding-top: 15px;
		padding-bottom: 20px;
		font-size: 20px;
	}
}