/**test**/

.giving-hands{
    width: 100%;
    height: 700px;
    background-image: url("../img/giving-hands.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-text-stroke: 0.5px blue;
}

.home_img {
    width: 25%;
    height: 25%;
}
