{% extends "base.html" %}
{% load static %}
{% block content %}
<time>process</time>
<div class="container">
    <div class="row" style="margin-bottom: 30px;margin-top: 245px;margin-left: 25%;">
        <h1 style="text-align: center;">Donatur berhasil didaftarkan!</h1>
    </div>
    <div class="row">
        <a href="{% url 'home' %}" class="btn btn-info" role="button" style="margin-left: 42%">Kembali ke beranda</a>
    </div>
</div>
{% endblock content %}