<html>
<head>
	<style>
		@media (max-width: 600px){
			form#form{
				width: 75% !important;
				margin: auto !important;
			}
		}

		form#form{
			padding: 20px;
			width: 35%; 
			margin: auto; 
			background-color: #8CD2EF
		}

		#profile{


		}

	</style>

	<meta charset="utf-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<title>Login with Google</title>
</head>

<body>
	{% block content %} {% include 'base.html' %}

	    <br>
	    <br><br><br><br><br>
	    <br>

	<div>
	    {% if user.is_authenticated %}
	    	<div id = "profile">
				<div class="container">
				    <div class="row profile">
						<div class="col-md-3">
							<div class="profile-sidebar">
								<!-- SIDEBAR USER TITLE -->
								<div class="profile-usertitle">
									<div class="profile-usertitle-name">
										{{user.first_name}} {{user.last_name}} <br>
									</div>
								</div>
								<!-- END SIDEBAR USER TITLE -->
								<!-- SIDEBAR BUTTONS -->
								<div class="profile-userbuttons">
									<button type="button" class="btn btn-success btn-sm">History</button>
									<a href="{% url 'logout' %}"><button type="button" class="btn btn-danger btn-sm">Logout</button></a>
									<br><br>
								</div>
								<!-- END SIDEBAR BUTTONS -->
								<!-- SIDEBAR MENU -->
								<div class="profile-usermenu">

									Email	: {{user.email}}

								</div>
								<!-- END MENU -->
							</div>
						</div>
						<div class="col-md-9">
				            <div class="profile-content">
							   “We make a living by what we get. We make a life by what we give.” — Winston S. Churchill
							   <br><br>
							   Ingin bantu donasi? <br><br>
								<a href="{% url 'donate' %}"><button type="button" class="btn btn-primary btn-sm">Donasi</button>
				            </div>
						</div>
					</div>
				</div>
				<br>
				<br>

		</div>

	    {% else %}
	    	<center>
	    	<h2><i>"You can give without loving, but you cannot love without giving."</i></h2>
	   		<br>
	      <span><a href="{% url 'social:begin' 'google-oauth2' %}"><button class="btn btn-danger btn-sm">Login with Google</button></span>

	      	</center>
	    {% endif %}
	    {% endblock %}
    </div>
 
	

</body>
</html>
