{% load crispy_forms_tags %}


<!DOCTYPE html>
<html>
<head>
	<style>
		@media (max-width: 600px){
			form#form{
				width: 75% !important;
				margin: auto !important;
			}
		}

		form#form{
			padding: 20px;
			width: 35%; 
			margin: auto; 
			background-color: #8CD2EF
		}
	</style>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<title>donate</title>
</head>
<body>
	{% block content %} {% include 'base.html' %} {% endblock content%}

	<div class="content">
		<section name = "form">
			<br><br><br>
			<h3 style="padding: 20px; text-align: center; float: center;"><u><b>Isi Untuk Memberikan Donasi:</b></u></h3>

			<form id = "form" method="POST" action = "{% url 'donates' %}"> 
				{% csrf_token %}
				{{ donating|crispy }}
				<br>
			
				<button type="submit" class="btn btn-primary">Donasikan</button>
			</form>
		</section>
	</div>

	

</body>
</html>