{% extends "base.html" %}
{% load static %}
{% block content %}
	<br><br><br><br>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6" style="padding-top: 15vw">
				<h1 style="text-align: center;">Terima kasih atas donasi anda!</h1>
				<h3 style="text-align: center;">Partisipasi anda sangat berarti bagi<br> 
				#sahabat yang membutuhkan</h3>
			</div>
			<div class="col-md-3"></div>
		</div>
		
	</div>
{% endblock content %}
