{% extends "base.html" %}
{% load static %}
{% block script %}
{% csrf_token %}
<script>
    var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    function add_testimony(name, message){
        $.ajax({
            type : "POST",
            url : "{% url 'create' %}",
            data :{
                this_name = name,
                comment = message,
                csrfmiddlewaretoken : $('input[name=csrfmiddlewaretoken]').val()
            },
            success: function(){
                alert("Testimoni Berhasil Ditambahkan");
            }
        });
    }

    $("#submit_data").click(function(){
        var name = "{{user.first_name}}";
        var message = $("#id_message").val();
        add_testimony(name, message);
    });

    $(document).ready(function(){
        $.ajax({
            type:"GET",
            url: "{% url 'testimony_json' %}",
            datatype: "json",
            success:function(result){
                for(var i = 0; i < result.data.length; i++){
                    $("#testimony_div").append("<div class=\"media-body\">");
                    $("#testimony_div").append("<h5>" + result.data[i].this_name + "<small><i>Posted on" + result.data[i].created_date + "</i></small></h5>");
                    $("#testimony_div").append("<p>"+ result.data[i].comment + "</p>");
                }
                
            }
        });
    });
</script>
{% endblock script %}

{% block content %}

<div class="container mt-5 pt-5">
    <div class="row">
        <h1 class="text-center">OUR TEAM ARE:</h1>
    </div>
    <br>
    {% for i in members %}
    <div class="row d-flex justify-content-center">
        <h4 class="text-center p-2">{{ i }}</h4>
    </div>
    {% endfor %}
</div>

<div class="media border p-3" id="testimony_div">
    
</div>

</div class="container">
{% if user.is_authenticated %}
    <form>
        {{testimony_form}}
        <button id="submit_data" type="button" class="btn btn-info mt-4" disabled="disabled"></button>
    </form>
{% else %}
    <h5>SILAKAN LOGIN DI ATAS!<h5>
{% endif %}
{% endblock content %}