{% extends "base.html" %}
{% load static %}
{% block content %}
	<center>
		<div class="container-fluid">
			<br><br><br><br>
			<h1>Jumlah dana yang telah anda donasikan:</h1>
			<h1> Rp {{totalDonasi}}</h1>
			<br><br>
			<div class="table-responsive">
                <table class="tabell">
                    <thead class="thead-dark">
                        <tr class="table">
                            <th scope="col" class="align-middle">No</th>
                            <th scope="col" class="align-middle">Nama Program</th>
                            <th scope="col" class="align-middle">Jumlah Donasi</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
		</div>
	</center>
	<script>
		$(document).ready(function() {
			$.ajax({
				url: "data",
				datatype: 'json',
				success: function(data){
					var result ='<tr>';
					for(var i = 0; i < data.length ; i++) {
						result += "<th scope='row' class='align-middle text-center'><center>" + (i+1) + "</center></th>" +
						"<td class='align-middle'><center>" + data[i].nama_program +"</center></td>" +
						"<td class='align-middle'><center>" + data[i].jumlah_donasi + "</center></td> </tr>";
					}
					$('tbody').append(result);
				}
			})
		});
	</script>
{% endblock content %}







<!-- 
{% if listDonasi %}
				{% for i in listDaftar %}
					<div class="row">
					<div class="col-md-3"></div>	
					<div class="col-md-3">
						<p>{{i.nama_program}}</p><br>
					</div>
					<div class="col-md-3">
						<p>{{i.jumlah_donasi}}</p><br>
					</div>
					<div class="col-md-3"></div>
				</div>
				{% endfor %}
			{% else %}
	            <a>Maaf, Anda belum pernah berdonasi</a>
			{% endif %} -->


<!-- 
<div class="table-responsive">
	<table class="tabel">
		<thead>
			<tr class="table">
				<th scope="col" class="align-middle">No.</th>
				<th scope="col" class="align-middle">Nama Program</th>
				<th scope="col" class="align-middle">Donasi</th>
			</tr> -->