{% extends 'base.html' %}
{% load static %}
{% block style %}
<style type="text/css">
	img {
		width: 100%;
		height: auto;
	}
	.program-title {
		font-size: 40px;
	}
	.program-content {
		font-size: 25px;
		text-align: justify;
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.total-donation {
		padding-top: 15px;
	}
	.target-donation {
		font-size: 20px;
		padding-bottom: 20px;
	}
	.row {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	@media screen and (max-width: 770px) {
		.program-title {
			font-size: 25px;
			padding-top: 20px;
		}
		.program-content {
			font-size: 20px;
			padding-top: 8px;
		}
		.total-donation {
			padding-top: 15px;
			font-size: 20px;
		}
		.target-donation {
			font-size: 15px;
			padding-bottom: 20px;
		}
	}
</style>
{% endblock style %}
{% block content %} 
<div class="container">
	<br><br><br>
	{% for i in prog %}
	<div class="row">
		<div class="col-sm">
			<img src="{{ i.image }}" alt="{{ i.program_title }}">
		</div>
		<div class="col-sm">
			<h1 class="program-title">{{ i.program_title }}</h1>
			<h2 class="program-content">{{ i.program_desc }}</h2>
			<div class="progress">
				<div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: {{ i.progressbar }} %">
				</div>
			</div>
			<h2 class="total-donation">Total donasi : Rp {{ i.donation }}</h2>
			<h2 class="target-donation">terkumpul dari target Rp {{ i.target_donation }}</h2>
			<div class="row justify-content-center">
				<a href="{% url 'donate' %}" class="btn btn-primary">Donasi Sekarang</a>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock content%}
